.header-container {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 25px 0;
}

.header-menu > ul > li {
    list-style-type: none;
    margin-right: 30px;
    cursor: pointer;
    transition-duration: 0.3s;
    color: rgb(22 28 45);
}

.home {
    color: rgb(79 70 229);
    margin-right: 18px;
}

.header-menu > ul > li:hover {
    color: rgb(79 70 229);
    transition-duration: 0.3s;
}

.header-btn-container > a {
    text-decoration: none;
    border-radius: 100%;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.header-btn {
    border-width: 1px;
    height: 25px;
    width: 15px;
}

.gear-icon {
    color: rgb(79 70 229);
    background-color: rgb(79 70 229 / 0.05);
    border: 0.5px solid rgb(79 70 229 / 0.1);
    margin-right: 4px;
    transition-duration: 0.5s;
}

.gear-icon:hover {
    background-color: rgb(79 70 229);
    color: rgb(255 255 255);
    transition-duration: 0.5s;
}

.cart-shopping-icon {
    background-color: rgb(79 70 229);
    color: rgb(255 255 255);
}
