.header {
    width: 100%;
}

.header-container {
    width: 1120px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 25px 15px;
}

.header-menu > ul > li {
    list-style-type: none;
    margin-right: 30px;
    cursor: pointer;
    transition-duration: 0.3s;
    --tw-text-opacity: 1;
    color: rgb(22 28 45 / var(--tw-text-opacity));
}

.home {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
    margin-right: 18px;
}

.header-menu > ul > li:hover {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
    transition-duration: 0.3s;
}

.header-btn > a {
    text-decoration: none;
    border-radius: 100%;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.gear-ıcon {
    border-width: 1px;
    height: 25px;
    width: 15px;
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
    background-color: rgb(79 70 229 / 0.05);
    border: 0.5px solid rgb(79 70 229 / 0.1);
    border-radius: 9999px;
    margin-right: 4px;
    transition-duration: 0.5s;
}

.cart-shopping-ıcon {
    border-width: 1px;
    height: 25px;
    width: 15px;
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.gear-ıcon:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-duration: 0.5s;
}
