@import "header.css";
@import "our-creativity.css";

* {
    padding: 0px;
    margin: 0px;
    font-family: "nunito";
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.container {
    width: 1103px;
}

.w-100 {
    width: 100%;
}
